<h1>Step 1: Upload csv file</h1>

<div class="alert alert-danger" ng-hide="csv.errorMessage === null">{{csv.errorMessage}}. Please try again</div>
<div style="position : relative ;">
    <a class='btn btn-primary' href='javascript:;' ng-hide="csv.selectedFile !== null">
        Choose File to upload...
        <input type="file" class="fileUpload" file-upload on-file-select="csv.onFileSelect">
    </a>
</div>
<div ng-hide="csv.selectedFile === null">
    <div class="form-group">
        <label class="col-sm-2 control-label">File name</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{csv.selectedFile.name}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Content type</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{csv.selectedFile.type}}</p>
        </div>
    </div>

    <div class="form-group" ng-hide="csv.uploadInProgress === false">
        <label class="col-sm-2 control-label">Progress</label>

        <div class="col-sm-10">
            <div class="progress" style="margin-bottom : 0 ;">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': csv.uploadProgress + '%' }"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button type="button" class="btn btn-danger" ng-click="csv.cancel()">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>

            <button type="button" class="btn btn-success pull-right" ng-click="csv.upload()">
                <span class="glyphicon glyphicon-chevron-right"></span> Upload & continue
            </button>
        </div>
    </div>
</div>